.Donut-chart {
    position: relative;
    width: 100%;
    top: 1rem;

    &>svg {
        width: 100%;
        height: auto;
        border-radius: 50%; // To cut away the outer half of strokes
    }    

    &__slice {
        transform-origin: center;
        fill: none;
        stroke: currentColor;
        stroke-width: 40;
        cursor: pointer;
        opacity: .7;
        transition: @transition_base;

        &--active {
            opacity: 1;
        }
    }

    &__labels {
        position: absolute;
        inset: 25%;
        text-align: center;
    }
    
    &__label>button {
        font-weight: bold;
        font-size: 1.2rem;
        font-size: min(~"clamp(1.2rem, 2vw, 1.9rem), 4.25vw"); // Yeah, this is a mess :)
        cursor: pointer;
        line-height: 1;
        margin-bottom: 1ex;

        &>span {
            @apply text-purple-900;
            transition: @transition_base;
        }

        &::before {
            content: "";
            background-color: currentColor;
            height: 1em;
            width: 1em;
            margin-right: 1ex;
            display: inline-block;
            vertical-align: middle;
            box-shadow: 0 0 0.6em theme("colors.slate.50");
        }

        &:hover {
            text-shadow: 0 0 0.6em theme("colors.purple.300");

            &>span {  
                @apply text-slate-900;
            }
        }
    }
    &__label--active>button {
        text-shadow: 0 0 0.6em theme("colors.purple.300");

        &>span {  
            @apply text-slate-900;
        }
    }
}