body {
    --red: theme(colors.red.500 / 15%);
    --green: theme(colors.green.500 / 15%);
    --purple: theme(colors.purple.500 / 15%);
    --blue: theme(colors.sky.500 / 15%);

    @apply text-slate-700 bg-slate-50 font-sans;
    line-height: 1.6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: 
        radial-gradient(circle 30vmax at 38% 25%, var(--red) 20%, transparent 80%), // red
        radial-gradient(circle 30vmax at 68% 38%, var(--green) 20%, transparent 80%), // green
        radial-gradient(circle 30vmax at 59% 80%, var(--purple) 20%, transparent 80%), // purple
        radial-gradient(circle 30vmax at 30% 66%, var(--blue) 20%, transparent 80%); // blue
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html { scroll-behavior: smooth; }

.App {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    overflow-x: hidden; // Fixes some wonkyness with Slider

    &.front {
        display: unset;
    }
}
main { 
    padding: 0 3rem;
    padding: 0 min(3rem, 3vw);
}


h1, h2, h3, h4, h5, h6, p { 
    max-width: 60ch; 
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-weight: bold;
    line-height: 1;
    margin-bottom: .75ex;
}

.salt {
    font-feature-settings: 'salt' on;
}

.hide-wide {
    @media screen and @mq_wide {
        display: none;
    }
}
.hide-with-menu {
    @media screen and (min-width: @desktop_default_width) {
        display: none;
    } 
}

.site-name {
    font-family: @oswald;
    text-transform: uppercase;
}

h1 {
    font-size: 5.5vw;
    font-size: clamp(2.5rem, 5.5vw, 5rem);
    margin-top: 1ex;
    letter-spacing: .55vw;
    letter-spacing: max(.55vw, .25rem);
}
h2 {
    font-size: 1.7rem;
    letter-spacing: .17rem;

    @media screen and (min-width: @desktop_default_width) {
        font-size: 2rem;
        letter-spacing: .2rem;
    }
}

p {
    margin-bottom: 1em;
    orphans: 2;
    widows: 2;
}

blockquote {
    margin: 0 3ex 1.5em;
    @apply font-serif;
    color: var(--theme-dark);

    cite {
        font-style: italic;
        margin-top: 1em;
        display: block;

        &::before {
            content: "Source(s): ";
        }
    }
}

main a, footer a {
    border-bottom: 1px dotted currentColor;
    @apply text-sky-700;

    @media (hover: hover) {
        transition: @transition_base;
        @apply transition-colors;
    }

    &:hover, &:focus {
        @apply text-teal-700;
        border-style: solid;
    }
}

.inline-icon {
    height: 1em;
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0 1px;
    position: relative;
    top: 2px;
}

.with-ender::after {
    content: url("fleuron37x22.svg");
    position: relative;
    top: 3px;
    left: 0.5ex;
}

.scriptcaps {
    font-family: @scriptcaps;
}

.info-button {
    border: 2px solid black;
    border-radius: 50%;
    font-weight: bold;
    background: transparent;
    color: black !important;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    line-height: 1.1em;
    font-size: .8rem;
}

.use-color-em {
    em, strong {
        color: var(--theme-primary);
    }
}

footer {
    --dgray: theme(colors.slate.500 / 20%);
    --lgray: theme(colors.slate.500 / 3%);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    max-height: 30vh;
    min-height: 12rem;
    padding: 4rem 3rem 2rem;
    margin-top: 4rem;
    background: linear-gradient(140deg, var(--dgray), var(--lgray));
}