@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts & text
@font-face {
    font-family: 'forest camp';
    src: url('fonts/forestcamp-edited-cap-t.woff2') format('woff2'),
         url('fonts/forestcamp-edited-cap-t.woff') format('woff'),
         url('fonts/forestcamp-edited-cap-t.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'forest camp caps';
    src: url('fonts/forest_camp-caps.woff2') format('woff2'),
         url('fonts/forest_camp-caps.woff') format('woff'),
         url('fonts/forest_camp-caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'migrainesans';
    src: url('fonts/migraine_sans-webfont.woff2') format('woff2'),
         url('fonts/migraine_sans-webfont.woff') format('woff'),
         url('fonts/migraine_sans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@sans: 'Atkinson Hyperlegible', sans-serif;
@scriptcaps: 'forest camp caps', @sans;
@serif: Merriweather, serif;
@oswald: Oswald, sans-serif;

// media queries
@desktop_default_width: 40rem;
@mq_tall: (orientation: portrait), (max-width: @desktop_default_width);
@mq_wide: (orientation: landscape) and (min-width: @desktop_default_width);
//@mq_huge: (min-width: 75em);

// Other utilities
@transition_base: all .25s ease;
.textshadow(@color) {
    text-shadow: 0 0 0.4em @color;
}

@import "elements";
@import "navbar";
@import "ringnav";
@import "profile";
@import "skills";
@import "radar-chart";
@import "donut-chart";
@import "portfolio";
@import "skeleton";
@import "tooltips";