@menu_break_width: 57rem;
@dd: @desktop_default_width;

body {
    overscroll-behavior-y: none;

    @media screen and (min-width: @dd) {
        overscroll-behavior-y: unset;
    }
}
footer + a {
    @media screen and (min-width: @dd) {
        display: none;
    }
}
.App {
    @media screen and (min-width: @dd) {
        padding-top: 8rem;
    }
    @media screen and (min-width: @menu_break_width) {
        padding-top: 6rem;
    }
}

.Navbar {
    @mtop_mobile: -13rem;

    padding: 1rem 0 .5rem;
    @apply font-sans text-center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 500;
    transition: @transition_base;
    margin-top: @mtop_mobile;
    margin-bottom: 2rem;

    @media screen and (min-width: @dd) {
        padding: .5rem 3rem;
        padding: .5rem min(3rem, 3vw);
        @apply font-serif;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        margin-top: unset;
    }

    &__opener {
        font-size: 0;
        text-indent: -9999rem;
        color: theme("colors.slate.700");
        border-color: currentColor;
        border-style: solid;
        border-top-width: 2px;
        border-bottom-width: 3px;
        position: relative;
        height: 8px;
        width: 2rem;
        opacity: .25;
        transition: @transition_base;
        transform: scale(1.15);

        &:focus, &:focus-within {
            opacity: .6;
        }

        &::before {
            content: "";
            display: block;
            border-top: 4px solid currentColor;
            width: 100%;
            position: absolute;
            top: 9px;
        }
        &::after {
            content: "";
            display: block;
            border: 1rem solid transparent;
            border-top-color: currentColor;
            width: 100%;
            position: absolute;
            top: 16px;
        }

        @media screen and (min-width: @dd) {
            @apply sr-only;
        }
    }

    & > ul {
        display: grid;
        row-gap: .3rem;

        li.site-name {
            order: 100;
            margin-top: 1rem;

            @media screen and (min-width: @dd) {
                margin-top: 0;
                order: -1;
                grid-column: 1 / -1;
            }

            @media screen and (min-width: @menu_break_width) {
                order: 3;
                grid-column: unset;
            }
        }

        @media screen and (min-width: @dd) {
            grid-template-columns: repeat(4, auto);
            justify-content: space-between;
            place-items: center;

            .order-first, .order-1 {
                margin-left: max(-1rem, -1vw);

                & ~ .order-1 {
                    margin: 0;
                }
            }
            &:last-of-type {
                margin-right: max(-1rem, -1vw);
            }
        }
        @media screen and (min-width: @menu_break_width) {
            grid-template-columns: auto 1fr min-content 1fr auto;
        }
    }

    &__item {
        @apply block;
        text-shadow: 0 0 .5ex #fff;
        padding: 0 min(1rem, 1vw);

        @media (hover: hover) {
            transition: @transition_base;
        }

        &:not(.site-name) {
            @apply border-transparent opacity-50 py-2;
            --cyan20: theme(colors.cyan.700 / 20%);
            --cyan80: theme(colors.cyan.700 / 80%);

            background-image: linear-gradient(to right, theme("colors.slate.300 / 60%"), transparent);

            @media (hover: hover) {
                &:hover {
                    opacity: 1 !important;
                }
            }

            @media screen and (min-width: @dd) {
                background-image: none;
                @apply border-2;

                @media (hover: hover) {
                    &:hover {
                        border-color: var(--cyan20);
                    }
                }
                &:focus {
                    border-color: var(--cyan80);
                }
            }
        }

        &:not(.active) {
            color: currentColor;
        }
        &.active, &.active:focus {
            border-color: transparent;
            opacity: 1 !important;
        }
        @media (hover: hover) {
            &.active:hover {
                border-color: transparent;
                opacity: 1 !important;
            }
        }
    }

    &--expanded {
        margin-top: 0;
        background: linear-gradient(to bottom, theme("colors.slate.50 / 80%") 50%, transparent);

        @media screen and (min-width: @dd) {
            background: transparent;
        }
    }
    &--expanded &__opener { 
        opacity: .1; 

        &:focus, &:focus-within {
            opacity: .4;
        }
    }

    &--scrolled {
        background: linear-gradient(to bottom, theme("colors.slate.50 / 50%"), theme("colors.slate.50 / 70%") 45%, theme("colors.slate.50 / 70%") 60%, transparent);
        margin-top: @mtop_mobile;

        @media screen and (min-width: @dd) {
            margin-top: -2.75rem;
        }
        @media screen and (min-width: @menu_break_width) {
            margin-top: 0;
        }
    }

    &--scrolled &__item:not(.site-name) {
        opacity: .75;

        @media screen and (min-width: @dd) {
            @media (hover: hover) {
                &:hover {
                    --cyan40: theme(colors.cyan.700 / 40%);
                    border-color: var(--cyan40);
                }
            }
            &:focus {
                border-color: var(--cyan80);
            }
        }
    }

    // Beware: magic numbers below.
    // Ideally, I'd like to container query this so that the second query 
    // amounts to "when .site-name is too narrow to fit the full name"
    // (while setting a flex-shrink and white-space:normal on its li element)
    @media screen and (min-width: @menu_break_width) and (max-width: 63rem),
           screen and (max-width: 27.5rem) {
        .site-name span { display: none; }
    }
}