.Portfolio {
    // Useful variables
    @sidemargins: 6rem;
    @sidemargins_min: min(6rem, 6vw);

    @portf_width: calc(~"100vw -" @sidemargins);
    @portf_width_min: calc(~"100vw -" @sidemargins_min);
    @item_width: calc(~"60vw -" (@sidemargins * .6));
    @item_width_min: calc(~"60vw -" (@sidemargins_min * .6));

    @break_mq: (min-width: @desktop_default_width) and (orientation: landscape);
    @break_below: (max-width: @desktop_default_width), (orientation: portrait);
    @portf_transition: all .75s ease-out;

    // Start: styles
    min-height: 700px;
    min-height: max(700px, 80vh);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: @portf_width;
    width: @portf_width_min;

    .mobile-hide { display: none; }

    @media screen and @break_mq {
        flex-direction: row;

        .mobile-hide { display: block; }
    }

    &__item {
        flex-basis: 4.5rem;
        flex-shrink: 1;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        border: 0px solid theme("colors.sky.700 / 75%");
        border-left-width: .5rem;
        transition: @portf_transition;
        margin-bottom: .5rem;
        cursor: pointer;
        box-shadow: 0 0 .75rem theme("colors.slate.50");
        outline: 1px solid white;

        @media screen and @break_mq {
            border-bottom-width: .5rem;
            border-left-width: 0;
            margin-right: .75rem;
            margin-bottom: 0;
            flex-basis: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &:hover, &:focus {
            @apply border-red-700;
        }

        &--active {
            @apply border-sky-900;
            cursor: default;
            flex-basis: max-content;

            @media screen and @break_mq {
                flex-basis: @item_width;
                flex-basis: @item_width_min;
            }
        }

        // NB the mq's on the bgs don't care about portrait/landscape,
        // they just care if the viewport is large (wide) or not
        &__bg {
            position: absolute;
            inset: 0 auto 0 0;
            width: @item_width;
            width: @item_width_min;
            min-width: 100%;
            background-size: cover;
            opacity: 1;
            transition: @portf_transition;

            @media screen and (max-width: @desktop_default_width) {
                background-image: none !important;
            }

            &--small {
                position: absolute;
                inset: 0;
                background-size: cover;
                opacity: 1;
                transition: @portf_transition;

                @media screen and (min-width: @desktop_default_width) {
                    background-image: none !important;
                    display: none;
                }
            }
        }
        &--active &__bg, &--active &__bg--small {
            opacity: .25;
        }

        &__wrapper {
            position: relative;
            z-index: 2;
            inset: 0 auto 0 0;
            padding: 1rem 1rem 2rem;
            opacity: 0;
            width: @item_width;
            width: @item_width_min;
            min-width: 100%;
            transition: @portf_transition;
            color: #000; // improve contrast
        }
        &--active &__wrapper {
            opacity: 1;
        }

        &__title {
            font-family: @oswald;
            letter-spacing: normal;
            text-transform: uppercase;
        }
        &__content {
            width: 100%;
			max-width: 25em;
            text-shadow: 0 0 .5em theme("colors.slate.50");
            line-height: 1.3;
            pointer-events: none;

            &.has-screens {
                padding-bottom: 17.5rem; // WARNING magic number. TODO?
            }

            p:first-of-type {
                margin-top: 0;
            }

            img.inline-photo.simple {
                display: inline;
                padding: 0;
                border-radius: 0;
                border: 0;
                
                &.triple, &.quadruple {
                    width: 170px; 
                    height: auto;
                }
                &.triple {
                    max-width: 30%; 
                }
                &.quadruple {
                    max-width: 23.5%;
                }
            }
        }
        &--active &__content {
            pointer-events: unset;
        }

        &__urls {
            font-weight: bold;
        }

        &__icons {
            @apply text-slate-900 mt-3 mb-4;

            &__icon {
                @apply mr-3;
            
                & > svg {
                    @apply inline-block align-middle h-7 w-7;
                    stroke: currentColor;
                    cursor: pointer;

                    &:hover, &:focus, &:focus-within {
                        color: theme("colors.sky.900");
                    }
                }
            }
        }

        &__screens {
            margin-left: 1rem;
            width: 90%; 
            max-width: 32rem;
            position: relative;
            margin-top: -17rem;
            top: -1rem;
            opacity: 0;
            transition: @portf_transition;
    
            @media screen and @break_mq {
                position: absolute;
                bottom: 1.3em;
                top: unset;
                max-width: 30rem;
                width: calc(@item_width * .9);
                width: calc(@item_width_min * .9);
            }

            &:before {
                content: '';
                width: 100%;
                padding-top: 62.23%;
                display: block;
            }
    
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: transparent url('images/screens-nophone.svg') top left no-repeat;
                background-size: contain;
            }
    
            &.responsive:after {
                background-image: url('images/screens-all.svg');
            }
        }
        &--active &__screens {
            opacity: 1;
        }

        &__screen {
            position: absolute;

            &--desktop {
                top: 7%;
                left: 10.55%;
                width: 74%;
                height: 68.3%;
            }
            &--tablet {
                top: 52.5%;
                left: 54.6%;
                width: 40%;
                height: 41.6%;
            }
            &--mobile {
                top: 54.4%;
                left: 2%;
                width: 13.8%;
                height: 40%;
            }
            
        }
        &__screens.responsive &__screen--tablet {
            top: 27.2%;
            left: 70.6%;
            width: 26%;
            height: 64%;
        }
    }

    &__item:not(&__item--active) {
        @media screen and @break_below {
            flex-basis: 4.5rem !important;           
        }
    }
}