.Contact-card a {
    border-bottom: 0 none;
    position: relative;
    @apply w-16 h-16 rounded-full bg-slate-400 inline-block text-slate-50;
    transition: @transition_base;
    filter: grayscale(30%);
    transform: scale(1);
    
    &:hover, &:focus {
        color: theme("colors.slate.50");
    }

    &:focus {
        filter: brightness(80%);
    }

    svg {
        width: 60%;
        height: 60%;
        margin: auto;
        inset: 0;
        position: absolute;
    }

    &:hover {
        transform: scale(1.1);
        filter: grayscale(0%);
    }
    @media (prefers-reduced-motion: reduced) {
        &:hover {
            transform: scale(1);
        }
    }
}
.Contact-card {
    grid-template-columns: repeat(auto-fit, 4rem); // 4 rem = "w-16" from Tailwind
}