.Radar-chart {
    position: relative;
    width: 100%;
    height: auto;
    top: 1rem;

    &__gridFrames {
        polygon, polyline {
            fill: none;
            stroke: theme(~"colors.slate.500");
            stroke-width: 1;
            stroke-opacity: .5;
        }
    }

    &__diagram {
        stroke: theme(~"colors.purple.800");
        fill: theme(~"colors.purple.400");
        fill-opacity: .3;
        stroke-opacity: .6;
        stroke-width: 2;
        transition: @transition_base;

        &:hover {
            fill-opacity: .4;
            stroke-opacity: .8;
        }
    }
    
    &__label {
        font-size: .4em;
        font-weight: 400;
        text-transform: uppercase;
        fill: theme(~"colors.purple.900 / 70%");
        cursor: pointer;
        transition: @transition_base;

        &--active {
            fill: theme(~"colors.purple.900");
            font-weight: 600;
        }
    }

    &__spoke {
        cursor: pointer;
    }

    .markerDot {
        fill: theme(~"colors.purple.900 / 70%");
        cursor: pointer; // This doesn't do crap, but I'm keeping it here because I WANT IT TO DANGIT
        transition: @transition_base;

        &--active {
            fill: theme(~"colors.purple.900");
        }
    }
}