.Ring-nav {
    position: absolute;
    inset: 0;
    width: 70vmin;
    height: 70vmin;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    transition: @transition_base;
    transition-duration: .5s;
    z-index: -1;

  //  * { transition: @transition_base; }

    a {
        color: currentColor !important;
    }

    &__ring, &__inner {
        position: absolute;
        margin: auto;
        border-radius: 50%;
    }

    @keyframes ring-rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    &__ring {
        inset: 0;
        width: 100%;
        height: 100%;
        animation: ring-rotate 60s infinite linear;

        tspan, a {
            fill: currentColor;
            cursor: grab;
        }

        &:hover, &:focus, &:focus-within, &.manually-rotating {
            animation-play-state: paused;

            text :is(tspan, a):not(:hover, .active) {
                fill-opacity: .5;
            }

            & + .Ring-nav__inner {
                opacity: .5;
            }
        }
        &.manually-rotating text :is(tspan, a):is(:hover, .active) {
            fill: unset;
        }

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }

    #gear { opacity: .3; }

    &__inner {
        inset: 0;
        width: 80%;
        height: 80%;   
    }

    &--background {
        z-index: -1;
        opacity: .2;
        width: 25vw;
        height: 25vw;
        width: max(25vw, 12rem);
        height: max(25vw, 12rem);
        inset: auto;
        top: -4vw;
        left: -3vw;
        top: min(-4vw, -1.9rem);
        left: min(-3vw, -1.4rem);
        pointer-events: none;
        filter: blur(.05vw);
        filter: blur(max(.14vw, .08rem));
        position: fixed;

        .Ring-nav__graphic { opacity: .7; }

        // Stop bg from messing with text contrast on narrow screens
        @media (max-width: @menu_break_width) {
            opacity: .15;
        }
        @media (max-width: @desktop_default_width) {
            opacity: .1;

            * {
                animation: none;
            }
        }
    }
}