.Skeleton-loader {
    &__box {
        // From: https://codepen.io/JCLee/pen/dyPejGV
        display: inline-block;
        min-height: 1em;
        position: relative;
        overflow: hidden;
        background-color: theme("colors.slate.400 / 40%");
        color: transparent;
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                90deg,
                rgba(#fff, 0) 0,
                rgba(#fff, 0.2) 20%,
                rgba(#fff, 0.5) 60%,
                rgba(#fff, 0)
            );
            animation: shimmer 2s infinite;
            content: '';
        }
        
        @keyframes shimmer {
            100% {
            transform: translateX(100%);
            }
        }
          
    }
}