.Skills-page h2 {
    text-align: center;
    font-family: @oswald;
    letter-spacing: initial;
    font-weight: normal;
    text-transform: uppercase;
    @apply text-purple-900;
    font-size: max(2rem, 2vw); // 2rem is the default
}

.Skills-slide {
    width: 100%;
    height: 100%;

    h2 { 
        display: none;

        @media screen and (min-width: @desktop_default_width) {
            display: block;

            &::before, &::after {
                content: "";
                border-bottom: 3px solid currentColor;
                width: 1em;
                height: 0;
                display: inline-block;
                vertical-align: middle;
                margin: .25em;
            }
        }
    }

    &__barchart {
        width: 90%;
        border-left: 2px solid theme("colors.slate.700");
        padding: 4px 0 1px;
        margin: 0 auto;
        position: relative;

        &__bar {
            background-color: theme("colors.cyan.700 / 65%");
            margin: 0 0 4px;
            font-weight: bold;
            @apply text-slate-50;
            text-align: left;
            padding-left: 0.35em;
            white-space: nowrap;
            transition: @transition_base;
            .textshadow(theme(~'colors.cyan.600'));
            cursor: pointer;
            position: relative;

            // Welcome to the fun numbers :)
            height: min(~"clamp(3rem, 3.5vw, 4rem), 13vw");
            font-size: clamp(1.2rem, 1.35vw, 1.5rem); 
            line-height: min(~"clamp(4rem, 5vw, 6rem), 16vw");

            &:hover, &:active, &.active {
                background-color: theme("colors.cyan.700 / 80%");
            }

            &--info-button {
                position: absolute;
                top: 4px;
                right: 4px;
            }
        }
    }
}

.Skills-numbers {
    min-height: 0;
    width: 100%;
    display: block;
    margin: 0;
    padding: 1.5rem 0 0;
    text-shadow: 0 0 1em theme("colors.slate.50");

    @media screen and (min-width: @desktop_default_width) {
        padding-top: 5rem;
    }

    &__list {
        height: 18vw * 1.6; // font-size * line-height
        position: relative;

        @media screen and (min-width: @desktop_default_width) {
            @apply flex justify-between flex-nowrap;
            height: unset;
        }

        &:hover, &:focus, &:focus-within {
            li {
                animation-play-state: paused !important;
            }
        }
    }

    &__list-item {
        transition: color 0.3s ease-out;
        cursor: pointer;
        font-size: 18vw;
        display: table;
        margin: auto;
        position: absolute;
        inset: 0;
        opacity: 0;
        pointer-events: none;

        &:hover, &:focus, &:focus-within { 
            @apply text-purple-900;
        }

        // Animate the numbers on small screens
        @keyframes numbers_fader {
            5%, 15% {
                opacity: 1;
                pointer-events: unset;
            }
            20%, 100%, 0% {
                opacity: 0;
                pointer-events: none;
            }
        }
        .loop(@n) when (@n <= 5) {
            @duration: 20s;
            @delay: ((@n - 1) * @duration / 5);
    
            &:nth-of-type(@{n}) {
                animation-name: numbers_fader;
                animation-duration: @duration;
                animation-iteration-count: infinite;
                animation-delay: @delay;
            }
            .loop((@n + 1));
        }
        .loop(1);
        // End "animate the numbers"

        @media screen and (min-width: @desktop_default_width) { // three visible
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
            display: block;
            font-size: 6.3vw;
            position: static;
            animation: none !important;
            opacity: 1;
            pointer-events: unset;
        }
        @media screen and (min-width: 56rem) { // four visible
            font-size: 5vw;
        }
        @media screen and (min-width: 87.5rem) { // five visible
            font-size: 4vw;
            font-size: max(4vw, 76px);
        }
    }

    .digit {
        font-family: @oswald;
        display: inline-block;
        margin: 0 0.25ex 0 0.2ex;
        vertical-align: baseline;
        line-height: 1;
        letter-spacing: -.015em;

        sup {
            font-size: 0.7em;
            position: relative;
            bottom: 0.5ex;
        }
    }

    small {
        font-family: @sans;
        font-size: .36em;
        font-size: max(.36em, .875rem);
        line-height: 1.2;
        display: inline-block;
        vertical-align: baseline;
        margin-top: -.1ex;
        letter-spacing: -.015em;
    }

    .show-four {
        @media screen and (min-width: @desktop_default_width) {
            display: none;
        }
        @media screen and (min-width: 56rem) {
            display: block;
        }
    }
    .show-five {
        @media screen and (min-width: @desktop_default_width) {
            display: none;
        }
        @media screen and (min-width: 87.5rem) {
            display: block;
        }
    }

}

.textshadow-white {
    .textshadow(theme(~'colors.slate.50'));
}
