@tailwind utilities;

@prevnext_opacity: .7;
@transition_base: all .25s ease;
@break: 40rem; // same as @desktop_default_width in index.less

.slider-3d {
    height: 42rem;
    width: min(47%, 42rem);
    margin-inline: auto;
    position: relative;
    min-width: min(27rem, 94vw);

    @media screen and (min-width: @break) {
        perspective: 100vw;
    }
    
    &__slides {
        position: absolute;
        inset: 0;
        transform-style: preserve-3d;
    }

    &__slide {
        transition: all .5s ease-out;
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        backface-visibility: hidden;
        pointer-events: none;
        z-index: 100;

        @media screen and (min-width: @break) {
            transform: rotateY(-.25turn) scale(.6);
            left: -115%;
            right: 115%;
            display: block;
            pointer-events: auto;

            * { pointer-events: none; }
        }

        &--prev {
            left: 0;
            right: 0;
            display: block;
            opacity: 0;

            @media screen and (min-width: @break) {
                transform: rotateY(-.12turn) scale(1, .85);
                opacity: @prevnext_opacity;
                left: -90%;
                right: 90%;
            }
        }

        /* &:where(:not(&--prev):not(&--current)) { // Everything left of prev
            opacity: 0;
            transform: rotateY(-.2turn) scale(.6);
            left: -115%;
            left: 200%~"\9";
            right: auto;
        } */

        &--current {
            transform: rotateY(0) scale(1);
            left: 0;
            right: 0;
            opacity: 1;
            display: block;
            z-index: 500;

            pointer-events: auto;
            * { pointer-events: auto; }
        }

        &--next {
            display: block;
            opacity: 0;
            left: 0;
            right: 0;

            @media screen and (min-width: @break) {
                transform: rotateY(.12turn) scale(1, .85);
                opacity: @prevnext_opacity;
                right: -90%;
                left: 90%;
            }
        }

        &--afternext {
            display: none;

            @media screen and (min-width: @break) {
                display: block;
                transform: rotateY(.25turn) scale(.6);
                left: 115%;
                right: -115%;
            }
        }

        /* &:not(&--prev):not(&--next):not(&--current) {
            opacity: 0;
            left: 0;
            right: 0;
            transform: rotateY(-.2turn) scale(.6);
            display: block;
        } */

        /* &--next ~ &:where(:not(&--prev):not(&--current)) { // Everything right of next
            transform: rotateY(.2turn) scale(.6);
            right: -115%;
            right: 200%~"\9";
            left: auto;
            opacity: 0;
        } */
    }

    &__arrow {
        display: none;

        @media screen and (min-width: @break) {
            display: block;
            width: max(1rem, 1.5vw);
            height: 100%;
            opacity: .3;
            top: 0;
            text-indent: -9999em;
            overflow: hidden;
            transition: @transition_base;
            transition-property: opacity;
            @apply block absolute border-none cursor-pointer;
            background: linear-gradient(to bottom, transparent 20%, theme("colors.slate.600"), transparent 80%);

            &::after {
                content: '';
                @apply border-slate-50 border-solid border-r-4 border-b-4 absolute m-auto h-3 w-3;
                transform: rotate(-45deg) translate(-12%, -12%);
                inset: 0;
            }

            &:hover, &:active {
                opacity: .6;
            }

            &--prev {
                left: -2rem;
                transform: rotate(180deg);
            }
            &--next {
                right: -2rem;
            }
        }
    }

    &__title-nav {
        position: relative;
        top: -2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h1, h2, h3, h4 {
            display: inline-block;
            opacity: .4;
            @apply transition-opacity;
            font-size: 1.4em;
        }
        button:hover, button:focus {
            h1, h2, h3, h4 { opacity: 1; }
        }

        &--current {
            h1, h2, h3, h4 { opacity: .8; }
        }

        @media screen and (min-width: @break) {
            display: none;
        }
    }
}