@fallback_primary: fade(#64748b, 80%); // colors.slate.500

.tooltip_main(@size_factor: 2) {
    z-index: 999;
    @apply absolute block shadow-lg rounded-md text-slate-50 transition-opacity;
    background-color: var(--theme-primary-fade, @fallback_primary);
    width: max-content;
    max-width: 90vw;
    max-width: min(90vw, 30em);
    padding: (.75rem * @size_factor) (1rem * @size_factor);

    // Some resets to counter exciting styles when this is an ::after or a child
    font-size: initial;
    line-height: initial;
    font-weight: normal;
    white-space: normal;
    text-align: left;
    text-shadow: none;
    pointer-events: none !important;
}

.tooltip {
    .tooltip_main(1);
}
.tooltip-lg {
    .tooltip_main();
}